<div>
    <div class='card w-100'>
        <form class='m-3 p-1' #BlogObj action="javascript:void(0);">
            <div class="form-group">
                <label for="title"> Title </label>
                <textarea id='title' class="form-control"
                    placeholder="title">{{ blogObj !=null ?  blogObj.title : "" }}</textarea>
            </div>

            <div id='detail'>
                

                <div id='formdescription' class="form-group">
                    <label for="description"> Description </label>
                    <textarea class="form-control" id="description"
                        placeholder="description">{{ blogObj !=null ? blogObj.description : ""}}</textarea>
                </div>

                <div id='others'>

                    <div class="form-group">
                        <label for='tags'> tags </label>
                        <textarea class="form-control" id='tags'
                            placeholder="tags">{{blogObj !=null ? getTags(blogObj) : ""}}</textarea>
                    </div>

                    
                    <!-- <img src={{ imagePathPlanet }}/> -->
                    <picture style = 'border-style: none;'>
                        <label style = 'border-style: none;' for="fileDropRef">
                            <img style = 'border-style: none;' src="{{ getSafeURL (imagePreview$ | async) }}"
                            style="object-fit: cover;" loading="lazy" width="100%"
                            height="350px"
                            />
                        </label>
                        <input style = 'border-style: none;' title="qq" accept="image/jpeg,image/png,image/gif" type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" style="display: none;">
                    </picture>

                    <!-- <app-upload-image-view [main]='this'></app-upload-image-view> -->

    
                    <!-- country -->
                    <mat-form-field class="example-full-width w-100 bg-light p-2">
                        <input id='country' type="text" placeholder="country" aria-label="Text" matInput
                            [formControl]='myControlCountry' [matAutocomplete]="auto1">
                        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete"
                            (optionSelected)='selectedCountry($event.option.value)'>

                            <mat-option *ngFor="let country of filteredCountry | async" [value]="country.title">
                                {{ country.title }}
                            </mat-option>

                        </mat-autocomplete>
                    </mat-form-field>

                    <!-- place -->
                    <mat-form-field class="example-full-width w-100 bg-light p-2">
                        <input id='place' type="text" placeholder="place" aria-label="Text" matInput
                            [formControl]='myControlPlace' [matAutocomplete]="auto2">
                        <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete"
                            (optionSelected)='selectedPlace($event.option.value)'>

                            <mat-option *ngFor="let place of filteredPlaces | async" [value]="place.title">
                                {{ place.title }}
                            </mat-option>

                        </mat-autocomplete>
                    </mat-form-field>
                </div>

            </div>
            <hr>

            <button type="submit" class="btn btn-success m-1"
                (click)="save(BlogObj.title.value, BlogObj.description.value, BlogObj.tags.value)">
                save
            </button>

            <button type="submit" class="btn btn-info m-1"
                (click)="draft(BlogObj.title.value, BlogObj.description.value, BlogObj.place.value, BlogObj.tags.value)">
                in draft
            </button>
            <button type="submit" class="btn btn-light m-1" (click)="clear()">
                clear
            </button>
        </form>
    </div>
</div>