.card {
    background-color: rgba($color: gray, $alpha: 0.3);
    border-style: none;
}

.card label {
    background-color:rgba($color: black, $alpha: 1);
    color: blanchedalmond;
    padding: .3rem;
    border-radius: .3rem;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
  width: 100%;
}

#detail {
  display: flex;
  width: 100%;
  
}

#others {
  display: inline;
  width: 50%;
  font-weight: 100;
}

#formdescription {
  width: 50%;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
#formdescriptionMobile {
  width: 100%;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#formdescription textarea {
  height: 100%;
  font-weight: 100;
}