<div class='pr-3 pl-3'>
    <div class='card w-100'>
        <form class='m-3 p-1' #BlogObj action="javascript:void(0);">
            <div class="form-group">
                <label for="title"> Title </label>
                <textarea id='title' class="form-control" placeholder="title">{{ blogObj !=null ?  blogObj.title : "" }}</textarea>
            </div>
            <div class="form-group">
                <label for="description"> Description </label>
                <textarea class="form-control" id="description"
                    placeholder="description">{{ blogObj !=null ? blogObj.description : ""}}</textarea>
            </div>
            <div class="form-group">
                <label for='place'> Place </label>
                <textarea class="form-control" id='place'
                    placeholder="place">{{blogObj !=null ? blogObj.place.title + ", " + blogObj.place.country.title : ""}}</textarea>
            </div>
            <div class="form-group">
                <label for='tags'> tags </label>
                <textarea class="form-control" id='tags' placeholder="tags">{{blogObj !=null ? getTags() : ""}}</textarea>
            </div>

            <button type="submit" class="btn btn-success"
                (click)="save(BlogObj.title, BlogObj.description, BlogObj.place, BlogObj.tags)">save</button>
        </form>
    </div>
</div>