<header>

    <div id='hiddenMenu' class="menunav" [ngStyle]="{'width': showMenu ? '65%' : '0' }"> 
        <div style="padding-top: 5rem;">

            <div *ngFor="let Elmenu of menu">
                <a style="text-decoration-style: none; color: white;" routerLink={{Elmenu.route}}>
                    <div style="padding: .5rem; background-color: rgba(101, 161, 160, .9); margin: .3rem;">
                        <span>
                            {{Elmenu.title}}
                        </span>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <nav class="navbar navbar-expand-md" id="navbar" style="flex-wrap: nowrap;">
        <div class='container' style="flex-wrap: nowrap;">
            <div *ngIf="!isMobile()" class='d-flex w-100' style="flex-wrap: nowrap;">
                <div *ngFor="let Elmenu of menu">
                    <a class='mr-1' routerLink={{Elmenu.route}}>
                        <button class="btn btn-light font-weight-light" id="homeButton">
                            {{Elmenu.title}}
                        </button>
                    </a>
                </div>

            </div>

            <div *ngIf="!isMobile()" >
                <div class='menuitemLogin'>
                    <a routerLink='/login'>
                        <button class="btn btn-light font-weight-light" id="loginButton">
                            {{ (loginName | async) }}
                        </button>
                    </a>
                </div>
            </div>

            <div *ngIf="isMobile()" class='d-flex w-100'>
                <button class="btn btn-light font-weight-light" id="menuButton"
                (click)="showHiddenMenu()">
                    <div class="hamburger"></div>
                    <div class="hamburger"></div>
                    <div class="hamburger"></div>
                </button>
            </div>
            
        </div>
    </nav>
</header>

<div class="LoginNav" id='loginPanel' [ngStyle]="{'width': showPanelLogin ? '35%' : '0' }">

    <div *ngIf="( loginName | async ) !='LOGIN'">
        <div class="w-100 p-5 m-3 h-100">
            <!-- image -->
            <div class='container'>
                <img style='max-width: 200px; max-height: 200px; margin:0 auto;' class='rounded-circle'
                    src="https://images.freeimages.com/images/large-previews/25d/eagle-1523807.jpg">
            </div>
            <div class="d-flex justify-content-center">
                <span class=' w-100 bg-light text-info'> HI {{ loginName | async }} click logout! </span>
            </div>
            <div class="d-flex justify-content-center">
                
                <button class='btn btn-info' (click)='clickLogin()'>
                    close
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="(loginName | async) =='LOGIN'">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <button class="bg-dark text-light" (click)="clickLogin()"> X Close </button>
            </div>
            <div class="col-md-6"></div>
        </div>

        <div class="card bg-dark">
            <div class="card-body">
                <form #userLogin action="javascript:void(0);" (submit)="login(userLogin.login, userLogin.password)">
                    <div class="form-group">
                        <label class='bg-info' for="login"> Username or email </label>
                        <input type="username" name="login" class="form-control" id="login" required>
                    </div>

                    <div class="form-group">
                        <label class='bg-info' for="password"> Password </label>
                        <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                    <hr>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>