<header>

    <div id='hiddenMenu' class="menunav" [ngStyle]="{'width': showMenu ? '65%' : '0' }"> 
        <div style="padding-top: 5rem;">

            <div *ngFor="let Elmenu of menu">
                <a style="text-decoration-style: none; color: white;" routerLink={{Elmenu.route}}>
                    <div style="padding: .5rem; background-color: rgba(101, 161, 160, .9); margin: .3rem;">
                        <span>
                            {{Elmenu.title}}
                        </span>
                    </div>
                </a>
            </div>
            <a style="text-decoration-style: none; color: white;" routerLink='/login'>
                <div style="padding: .5rem; background-color: rgba(101, 161, 160, .9); margin: .3rem;">
                    <span>
                        {{ (loginName | async) }}
                    </span>
                </div>
            </a>

        </div>
    </div>

    <nav class="navbar navbar-expand-md" id="navbar" style="flex-wrap: nowrap;">
        <div class='container' style="flex-wrap: nowrap;">
            <div *ngIf="!isMobile()" class='d-flex w-100' style="flex-wrap: nowrap;">
                <div *ngFor="let Elmenu of menu">
                    <a class='mr-1' routerLink={{Elmenu.route}}>
                        <button class="btn btn-light font-weight-light" id="homeButton">
                            {{Elmenu.title}}
                        </button>
                    </a>
                </div>

            </div>

            <div *ngIf="!isMobile()" >
                <div style="display: flex;">

                    <div class='menuitemLogin pr-1'>
                        <form (submit)="searchSubmit($event)">
                            <input id='searchInput' class="form-control" type="text" placeholder="Search">
                        </form>
                    </div>

                    <div class='menuitemLogin'>
                        <a routerLink='/login'>
                            <button class="btn btn-light font-weight-light" id="loginButton">
                             {{ (loginName | async) }}
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div *ngIf="isMobile()" class='d-flex w-100'>
                <button class="btn btn-light font-weight-light" id="menuButton"
                (click)="showHiddenMenu()">
                    <div class="hamburger"></div>
                    <div class="hamburger"></div>
                    <div class="hamburger"></div>
                </button>
            </div>
            
        </div>
    </nav>
</header>