div {
    text-align: center;
    position: absolute;
    right: 48px;
    top: 0;
}
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }


//   'display: flex; justify-content: flex-end; z-index: 2; position: absolute;
// position: absolute;
// top: 0;  vertical-align: middle;
// right: 48px; background-color: brown;'