<div *ngIf="!isLoaded">
    <div id="homeview">
        <div>
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoaded">
    <div>
        <app-blog *ngFor="let iterPost of list" [blogid]="iterPost.id" [isFullVersion]=false></app-blog>
    </div>
</div>