
.card {
    //padding-top: .5rem;
    background-color: rgba($color: gray, $alpha: 0.4);
    border-style: none;
    display: inline-block;
    margin-bottom: 2rem;
}

.card a {
    padding: .2rem;
    margin-right: 0.2rem;
    color: White;
    //background-color: rgba($color: black, $alpha: 0.3);
    border-radius: .3rem;
    font-weight: lighter;
}
.div_img {
   // padding: 1rem;
    border-radius: 2rem;
    background-color: rgba($color: white, $alpha: 0.5);
    max-height: 450px;
    max-width: 450px;
    min-width: 450px;
    min-height: 450px;
}

.blog{
    display: inline-block;
    font-weight: lighter;
}

p{
    margin-bottom: 5rem;
    padding: 1rem;
    font-weight: lighter;
}

h2{
    text-align: center;
    font-weight: lighter;
    background-color: rgba($color: lemonchiffon, $alpha: .4);
    padding: .1rem;
    margin: 0;
}

.flex {
    display: flex;
}

.title {
    text-align: end;
    width: 100%;
    font-weight: lighter;
}
.description{
    width: 100%;
    height: 100%;
    background-color: rgba($color: white, $alpha: 0.5);
}