
<div *ngIf="isFullVersion">
    <div class='bg-dark text-light w-100'>
        <span> author: </span>
        <a routerLink="/user/{{blog.user.id}}">
            {{ blog.user.username }}
        </a>
    </div>
</div>

<div class='card'>
    <div class='title'>
        <a routerLink="/blog/{{ blog.id }}">
            {{ blog.title }}  
        </a>
        <a routerLink="/edit/{{ blog.id }}">
            (edit)
        </a>
    </div>
    <div>
        <img src="{{ blog.image }}" />
    </div>
    <div>
        <p> {{ blog.description }} </p>
    </div>
</div>