
.card {
    padding-top: .5rem;
    background-color: rgba($color: black, $alpha: 0.2);
    border-style: none;
}

.card a {
    padding: .2rem;
    margin-right: 0.2rem;
    color: White;
    background-color: rgba($color: black, $alpha: 0.3);
    border-radius: .3rem;
}
.card img {
    padding: 1rem;
    border-radius: .1rem;
}

p{
    margin-bottom: 5rem;
    background-color: rgba($color: white, $alpha: 0.7);
    padding: 1rem;
}

h2{
    text-align: center;
}
.flex {
    display: flex;
}
img {
    width: 400px;
    height: 400px;
    margin: 3rem auto;  
}