<div *ngIf="isFullVersion">
    <div class='bg-dark text-light w-100'>
        <span> author: </span>
        <a routerLink="/user/{{blog.user.id}}">
            {{ blog.user.username }}
        </a>
    </div>
</div>

<div class='card w-100'>
    <div class='title d-flex'>
        <div class='w-100'>
            <h2><a routerLink="/blog/{{ blog.id }}">{{ blog.title }}</a></h2>
        </div>
        <div class=''>
            <h2 style="text-align: right;"><a routerLink="/edit/{{ blog.id }}">(edit)</a></h2>
        </div>
    </div>
    <div class='blog align-items-start'>
        <div style="z-index: 1;position: absolute; padding: .3rem; text-align: right;">
            <div class='w-100'>
                <span style='background-color: rgba(139, 196, 193, .6); width: 100%;'>
                    <a routerLink="/place/{{ blog.place.title }}">
                        {{ blog.place.title + " " + blog.place.country.title }}
                    </a>
                </span>
            </div>
        </div>

        <picture>
            <img src="{{ blog.image }}" alt="pictures" style="object-fit: cover;" loading="lazy" width="100%"
                height="450px" />
        </picture>

        <div class='description'>
            <span> {{ blog.description }} </span>
        </div>
        <div class='tags' *ngFor="let item of blog.tags">
            <a routerLink="/tag/{{ item }}">{{ "#" + item }}</a>
        </div>
        <div class='d-flex'>
            <div class='w-100'>
                <span style='background-color: rgba(195, 178, 180, .4); width: 100%;'>
                    <a routerLink="/user/{{ blog.user.id }}">
                        {{ " &#183; " + blog.created + " &#183; " +  blog.user.username }}
                    </a>
                </span>
            </div>
        </div>
    </div>