#cardview {
    justify-content: center;
    text-align: center;
    background-color: rgba($color: #8BC4C1, $alpha: .6);
    border-radius: .3rem;
}

.card {
    //padding-top: .5rem;
    background-color: rgba($color: gray, $alpha: 0);
    border-style: none;
    display: inline-block;
    padding: .5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h3 {
    background-color: rgba($color: #65A1A0, $alpha: .5);
    color: white;
    font-weight: lighter;
    border-radius: .3rem; 
    border-style: none;
    margin: 0;
}

input {
    border-radius: .3rem; 
    border-style: none;
    margin-top: .5rem;
    padding-top: .5rem;
    padding-left: 1rem;

    width: 100%;
}

.zButton {
    z-index: 2;
    position: absolute;
    bottom: 0;
    border-style: none;
    //padding: 1rem;
    left: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: translateX(-50%);
    border-radius: .5rem;
    display: flex;
    margin-right: 1rem;
}

#back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, .7);
    transition: 1s;
}