#cardview {
    top: calc(30% - 15rem/2);
    width: 20rem;
    height: 15rem;
    left: calc(50% - 20rem/2);
    overflow: hidden;
    justify-content: center;
    position: fixed;
    justify-content: center;
    text-align: center;
    background-color: rgba($color: #8BC4C1, $alpha: .6);
    padding: 1rem;
    border-radius: .3rem;
}


h3 {
    background-color: rgba($color: #65A1A0, $alpha: .5);
    color: white;
    font-weight: lighter;
    border-radius: .3rem; 
    border-style: none;
}

input {
    border-radius: .3rem; 
    border-style: none;
    margin-top: .5rem;
    padding-top: .5rem;
    padding-left: 1rem;

    width: 100%;
}