.day {
    display: inline-table;   
    text-align: center;
    vertical-align: middle;
}

.normalDay {
    display: inline-table;
    width: 4rem;
    height: 4rem;
    background-color: rgba($color: lemonchiffon, $alpha: 0.3);
    border-radius: 2rem;
    margin: 0.1rem;
    text-align: center;
    vertical-align: middle;
}

.normalDay:hover{
    background-color: rgba($color: lemonchiffon, $alpha: 0.5);
}

.dayOff {
    display: inline-table;
    width: 4rem;
    height: 4rem;
    background-color: rgba($color: red, $alpha: 0.5);
    border-radius: 2rem;
    margin: 0.1rem;
    text-align: center;
    vertical-align: middle;
}

.calendarweek {
   
    background-color: rgba($color: lemonchiffon, $alpha: 0.2);
    border-radius: 5px;
    margin: .1rem;
    
}

.calendarMonth {
   
    background-color: rgba($color: lemonchiffon, $alpha: 0);
    
    border-radius: 5px;
    padding-right: 0;
    
}

#calendar {
    padding-top: 15rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

#calendarcard {
    margin: .2rem;
    background-color: rgba($color: lemonchiffon, $alpha: 0);
    position: absolute;
    
}