<div class='card w-100'>
   
        <div class='calendarMonth w-50 pr-1' id='month'>

            <h3> 
                <a (click)='nextMonth(-1)'>
                    <span>{{'<'}}</span>
                </a>
                {{ month.title }} {{ month.year }} 
                <a (click)='nextMonth(1)'>
                    <span>{{'>'}}</span>
                </a>
            </h3>

            <div class='calendarweek' id='calndarWeek' 
            *ngFor="let numberWeek of month.week">

                <div id='day' class="day" *ngFor="let numberDay of numberWeek.days">

                    <div id='dayOff' class='dayOff' 
                    (click)="chooseDay(numberDay.date)"
                    *ngIf="numberDay.isDayOff && numberDay.date.toLocaleDateString('en', { month: 'long' }) == month.title">
                        <span> {{ numberDay.date.getDate() }} </span>
                    </div>

                    <div id='anotherMonthDay' class='anotherMonthDay' 
                    *ngIf="numberDay.isDayOff && numberDay.date.toLocaleDateString('en', { month: 'long' }) != month.title"
                    >
                        <span> {{ numberDay.date.getDate() }} </span>
                    </div>

                    <div id='normalDay' class='normalDay'
                    *ngIf="!numberDay.isDayOff && numberDay.date.toLocaleDateString('en', { month: 'long' }) == month.title"
                    (click)="chooseDay(numberDay.date)">
                        <span> {{ numberDay.date.getDate() }} </span>
                    </div>
                    
                    <div id='anotherMonthDay' class='anotherMonthDay' 
                    *ngIf="!numberDay.isDayOff && numberDay.date.toLocaleDateString('en', { month: 'long' }) != month.title"
                    >
                        <span> {{ numberDay.date.getDate() }} </span>
                    </div>

                </div>
            </div>

        </div>

        <div class='blogs-links w-50 pl-'>

            <h3> blogs of day: </h3>

            <div class='blogsOfDay'
            *ngFor="let blog of blogs">
                <a routerLink="/blog/{{ blog.id }}"> {{ blog.title }} </a>
            </div>

        </div>
    </div>
