<div *ngIf="!(isLoaded$|async)">
    <div id="homeview">
        <div>
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoaded$|async">
    <div>
        <app-blog *ngFor="let iterPost of list$|async" [blogid]="iterPost" [isFullVersion]=false></app-blog>
    </div>
</div>