<div *ngIf="!(isLoaded$|async)">
    <div id="homeview">
        <div>
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoaded$|async">

    <div>
        <app-blog 
        *ngFor="let iterPost of list$|async" 
        [blogid]="iterPost" 
        [isFullVersion]=false>
        </app-blog>
        
        <div class='{{ isMobile() ? "card w-100" : "card w-50"}}'>
            <mat-paginator 
            style="background-color: transparent;"
            [length]="length"
            [pageSize]="pageSize"
            [pageIndex]='pageIndex'
            (page)="pageChanged($event)"
            >
            </mat-paginator>
        </div>
        
        </div>

    
</div>